@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
.body {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 99vh;
  width: 99vw;

  box-sizing: border-box;
}
.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: #eee;
  background: linear-gradient(#219eee, #596de8);
  border: 1px solid #eee;
  border-radius: 8px;
  height: 60vh;
  padding: 0 4rem 0 4rem;
  max-width: fit-content;
  margin: 0 auto;
}

.question {
  font-size: 3rem;
  margin-bottom: 20px;
  padding: 1rem;
  text-align: center;
}
.answer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.btn {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  background-color: #fff;
  font-size: 1rem;
  color: #4e61c5;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-style: normal;
  width: 30rem;
  height: 70px;
  font-size: 1rem;
  margin: 10px;
  padding: 10px 20px;
}
.controls {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2rem;
}
.solution-btn,
.next-btn {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  background-color: #fff;
  font-size: 1rem;
  color: #4e61c5;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-style: normal;
  height: 3rem;
  width: 10rem;
  font-size: 1rem;
  margin: 10px;
  padding: 10px 20px;
}
